* {
    margin: 0;
    padding: 0;
}

/* Navbar container */
.nav {
    background-color: #f2f2f2;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-right: 20px;
}
/* Navbar logo */
.nav-logo {
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}
/* Navbar links */
.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #555;
}

.sources {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sources-title {
    padding: 10px;
}
.sources-links {
    list-style-type: none;
    padding: 10px;
    align-items: center ;
    justify-content: center;
}
.sources-links li {
    padding: 10px;
    margin-bottom: 10px; /* Add margin between the "a" elements */
}
.body-news {
    padding: 50px;
}
.body-faq {
    padding: 50px;
}
.form-create-post {
    padding: 50px;
}
.form-create-faq {
    padding: 50px;
}
.dropdown-auth {
    position: relative;
    display: inline-block;
}
.dropdown-auth-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-auth:hover .dropdown-auth-content {
    display: block;
}
.dropdown-auth-content form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.dropdown-auth-content form button:hover {
    background-color: #45a049;
}

